@use "assets/scss/variables/themes" as *;
@use "sass:meta";
@each $key, $value in $themes {
    @if meta.type-of($value) == map {
        @each $colorKey, $colorValue in $value {
            :export {
                #{$key}-#{$colorKey}: $colorValue;
            }
        }
    } @else {
        :export {
            #{$key}: $value;
        }
    }
}
