## PUBLIC
NUXT_PUBLIC_SITE_NAME="Site name env"
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_SITE_ENV=development

## GITHUB ACTIONS WEBHOOK
# GITHUB_USER_TOKEN=

## PRISMIC
# PRISMIC_AUTH_USER=
# PRISMIC_AUTH_PASSWORD=

## OVH
# OVH_AUTH_USER=
# OVH_AUTH_PASSWORD=

## OVH FTP
# OVH_FTP_AUTH_HOST=
# OVH_FTP_AUTH_USER=
# OVH_FTP_AUTH_PASSWORD=
