RewriteEngine On

# Redirection de julie-guzal.com vers julieguzal.fr
RewriteCond %{HTTP_HOST} ^julie-guzal\.com [NC]
RewriteRule ^(.*)$ https://julieguzal.fr/$1 [L,R=301]

# Redirection de julie-guzal.fr (si avec www) vers julieguzal.fr (sans www)
RewriteCond %{HTTP_HOST} ^www\.julie-guzal\.fr [NC]
RewriteRule ^(.*)$ https://julieguzal.fr/$1 [L,R=301]

# Redirection de julieguzal.com vers julieguzal.fr
RewriteCond %{HTTP_HOST} ^julieguzal\.com [NC]
RewriteRule ^(.*)$ https://julieguzal.fr/$1 [L,R=301]

# Redirection de www.julieguzal.com vers julieguzal.fr (sans www)
RewriteCond %{HTTP_HOST} ^www\.julieguzal\.com [NC]
RewriteRule ^(.*)$ https://julieguzal.fr/$1 [L,R=301]


# Rediriger /about, /about/, et /about.html vers /contact
RewriteRule ^about(?:\.html)?/?$ /contact [R=301,L]

# Affichage de la page 404 générée par Nuxt
ErrorDocument 404 /404.html

# ---------------------------------------------------
# 🎥 Cache uniquement splash.webm et splash.mp4 (10 min)
<IfModule mod_headers.c>
  <FilesMatch "^splash\.(webm|mp4)$">
    Header set Cache-Control "public, max-age=600, must-revalidate"
  </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  <FilesMatch "^splash\.(webm|mp4)$">
    ExpiresDefault "access plus 10 minutes"
  </FilesMatch>
</IfModule>
# ---------------------------------------------------