@use 'assets/scss/variables/fonts' as *;

@font-face {
    font-display: swap;
    font-family: $font-lecturis;
    font-weight: 400;
    src: url('~/assets/fonts/fhlecturis-regular-subset.woff2') format('woff2'),
        url('~/assets/fonts/fhlecturis-regular-subset.woff') format('woff'),
        url('~/assets/fonts/fhlecturis-regular-subset.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: $font-lecturis;
    font-weight: 300;
    src: url('~/assets/fonts/fhlecturis-light-subset.woff2') format('woff2'),
            url('~/assets/fonts/fhlecturis-light-subset.woff') format('woff'),
            url('~/assets/fonts/fhlecturis-light-subset.ttf') format('truetype');
}


@font-face {
    font-display: swap;
    font-family: $font-suisse;
    font-weight: 400;
    src: url('~/assets/fonts/suisseintl-regular-subset.woff2') format('woff2'),
    url('~/assets/fonts/suisseintl-regular-subset.woff') format('woff'),
    url('~/assets/fonts/suisseintl-regular-subset.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: $font-suisse;
    font-weight: 300;
    src: url('~/assets/fonts/suisseintl-thin-subset.woff2') format('woff2'),
    url('~/assets/fonts/suisseintl-thin-subset.woff') format('woff'),
    url('~/assets/fonts/suisseintl-thin-subset.ttf') format('truetype');
}
