@use 'sass:math';
@use 'assets/scss/mixins/font-size-fluid' as *;
@use 'assets/scss/variables/fonts' as *;
@use 'assets/scss/functions/rem' as *;

// Heading
@mixin text-h1 {
    font-family: $font-lecturis-family;
    font-weight: 700;
    line-height: 0.79;

    @include font-size-fluid((xs: 137, xl: 360));
}

@mixin text-h2 {
    font-family: $font-lecturis-family;
    font-weight: 500;
    line-height: 1;

    @include font-size-fluid((xs: 120, xl: 240));
}

@mixin text-h3 {
    font-family: $font-lecturis-family;
    font-weight: 500;
    line-height: 0.9;

    @include font-size-fluid((xs: 92, xl: 144));
}

@mixin text-h4 {
    font-family: $font-lecturis-family;
    font-weight: 500;
    line-height: 1;

    @include font-size-fluid((xs: 40, xl: 72));
}

@mixin text-h5 {
    font-family: $font-lecturis-family;
    font-weight: 400;
    line-height: 1.1;

    @include font-size-fluid((xs: 32, xl: 48));
}

// Body
@mixin text-body-md {
    font-family: $font-suisse-family;
    font-weight: 400;
    line-height: 1.3;

    @include font-size-fluid((xs: 15, xl: 17));
}
