$font-noi: 'Noi grotesk';
$font-mango: 'Mongo grotesk';
$font-space-mono: 'Space mono';
$font-noi-family: $font-noi, arial, sans-serif;
$font-mango-family: $font-mango, arial, sans-serif;
$font-space-mono-family: $font-space-mono, georgia, times, serif;
