$themes: (
    light: (
        color-primary: #CDFF3E,
        color-on-primary: #151515,

        color-background: #FFF,
        color-on-background: #1A1A1A,

        color-brand-text: #1A1A1A,
        color-brand-inactive: rgba(26, 26, 26, 60%),
    ),
    dark: (
        color-primary: #CDFF3E,
        color-on-primary: #151515,

        color-background: #151515,
        color-on-background: #FFF,

        color-brand-text: #FFF,
        color-brand-inactive: #AEAEAE,
    ),
);
$default-theme: dark;
